@-webkit-keyframes imgAnimate {
  0% {
    -ms-transform: translate(-210px, 0);
    -moz-transform: translate(-210px, 0);
    -webkit-transform: translate(-210px, 0);
    transform: translate(-210px, 0);
  }
  50% {
    -ms-transform: translate(-300px, 0);
    -moz-transform: translate(-300px, 0);
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
  }
  100% {
    -ms-transform: translate(-210px, 0);
    -moz-transform: translate(-210px, 0);
    -webkit-transform: translate(-210px, 0);
    transform: translate(-210px, 0);
  }
}