/* intro screen */
.slider {
    height: 100%;
    
    .slide-content {
        @extend .animated;
        @extend .bounceInUp;
        color: #fff;
        height: 100%;
        padding: 20px;
        text-shadow: 1px 1px 0 rgba(0,0,0,.5);
    }
}
ion-slide {
    overflow: hidden;
}
.slider-pager .slider-pager-page {
    color: #fff;
}
.intro-main-slide {
    .main-title {
        color: #fff;
        font-size: 20px;
        height: 74px;
        left: 0;
        letter-spacing: 1px;
        margin-top: -37px;
        position: absolute;
        right: 0;
        text-align: center;
        top: 48%;

        .app-name {
            display: block;
            font-size: 35px;
            letter-spacing: 0;
            margin-top: 4px;
        }
    }
}

.bg-image {
    -webkit-animation: imgAnimate 120s infinite;
    /*animation: imgAnimate .5s infinite;*/
    max-height: 100%;
    position: absolute;
}
.start-tutorial {   
    @extend .animated;
    @extend .pulse;
    -webkit-animation-delay: 2.5s;
    -webkit-animation-iteration-count:infinite;
    color: #fff;
    display: block;
    font-size: 17px;
    left: 0;
    margin-top: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: 0px 0px 15px #3EA50A;
    top: 69%;
    width: 100%;
}
.intro-text {
    line-height: 1.6;
    p {
        color: #fff;
        font-size: 19px;
        text-shadow: 1px 1px 0 rgba(0,0,0,.35);
    }
    .paragraph-1 {
        margin: 14px 0;
    }
    .small-paragraph {
        font-size: 16px;
        a {
            color: rgb(26, 107, 199);
            font-weight: bold;
            text-shadow: none;
        }
    }
    img {
        border: 1px solid #7C7C7C;
        border-radius: 3px;
        box-shadow: 0 0 27px rgba(50, 50, 50, 0.4);
        margin: 0 auto;
        max-width: 100%;
    }
}
.intro-slide-4 {
    .main-title {
        left: 20px;
        right: 20px;
    }
}
// .intro-slide-2 {
//     .paragraph-1 {
//         margin-top: 105px;
//         color: #0B4074;
//     }
//     .paragraph-2 {
//         margin-top: 20px;
//     }
// }