
	<nav-page id="intro-page" left-buttons="leftButtons" right-buttons="rightButtons">

	    <!-- create the slidebox. Listen for on-slide-changed events we will wire up later. -->
		<ion-slide-box>

			<!-- first slide -->
			<ion-slide>
				<h3>Thank you for choosing the Awesome App!</h3>
				<div id="logo">
					<img src="http://code.ionicframework.com/assets/img/app_icon.png">
				</div>
				<p>
					We've worked super hard to make you happy.
				</p>
				<p>
					But if you are angry, too bad.
				</p>
			</ion-slide>

			<!-- second slide -->
			<ion-slide>
				<h3>Using Awesome</h3>

				<div id="list">
					<h5>Just three steps:</h5>
					<ol>
						<li>Be awesome</li>
						<li>Stay awesome</li>
						<li>There is no step 3</li>
					</ol>
				</div>
			</ion-slide>

			<!-- third slide -->
			<ion-slide>
				<h3>Any questions?</h3>
				<p>
					Too bad!
				</p>
			</ion-slide>
		</ion-slide-box>
	  </nav-page>