
	<nav-page id="intro-screen" left-buttons="leftButtons" right-buttons="rightButtons">

	    <!-- create the slidebox. Listen for on-slide-changed events we will wire up later. -->
		<ion-slide-box on-slide-changed="slideChanged($index)">

			<!-- first slide -->
			<ion-slide class="initial-slide">
				<img class="bg-image" src="../img/backgrounds/day/2.jpg" alt="">
				<div class="slide-content">
					<h3 class="main-title">
						Thanks for choosing <strong class="app-name">Cargas App!</strong>
					</h3>
				
					<span class="start-tutorial">
						Swipe to start
					</span>	
				</div>
			</ion-slide>

			<!-- second slide -->
			<ion-slide>
				<img class="bg-image" src="../img/backgrounds/day/4.jpg" alt="">
				<div class="slide-content">
					<div class="list">
						<div class="item intro-text item-text-wrap">
							<p>Cargas helps you to manage the use you give to your car.</p>
							<p>Let's first select your car.</p>
						</div>
					</div>
					<new-car-form car="car" addNewFuel="addNewFuel()" getPhoto="getPhoto()" createCar="createCar()" deleteCar="deleteCar(car)" newMakeModelModal="newMakeModelModal" makes="makes" years="years" fuels="fuels" />
				</div>
			</ion-slide>

			<!-- third slide -->
			<ion-slide>
				<h3>Any questions?</h3>
				<p>
					Too bad!
				</p>
			</ion-slide>
		</ion-slide-box>
	  </nav-page>