
	<nav-page id="intro-screen" left-buttons="leftButtons" right-buttons="rightButtons">

	    <!-- create the slidebox. Listen for on-slide-changed events we will wire up later. -->
		<ion-slide-box on-slide-changed="slideChanged($index)">

			<!-- first slide -->
			<ion-slide class="intro-main-slide intro-slide-1">
				<img class="bg-image" src="../img/backgrounds/day/2.jpg" alt="">
				<div class="slide-content">
					<h3 class="main-title">
						Thanks for choosing <strong class="app-name">Cargas App!</strong>
					</h3>
				
					<span class="start-tutorial">
						Swipe to start
					</span>	
				</div>
			</ion-slide>

			<!-- second slide -->
			<ion-slide class="intro-slide-2">
				<img class="bg-image" src="../img/backgrounds/day/4.jpg">
				<div class="slide-content">
					<div class="intro-text item-text-wrap">
						<p class="paragraph-1">Cargas helps you to improve your car experience.</p>
						<img src="../img/screenshots/screenshot-overview.png">
					</div>
				</div>
			</ion-slide>

			<!-- third slide -->
			<ion-slide class="intro-slide-3">
				<img class="bg-image" src="../img/backgrounds/night/3.jpg">
				<div class="slide-content">
					<div class="intro-text item-text-wrap">
						<p class="paragraph-1">Track every refuel you make and monitor your car performance.</p>
						<img src="../img/screenshots/screenshot-averages.png">
					</div>
				</div>
			</ion-slide>

			<!-- fourth slide -->
			<ion-slide class="intro-main-slide final-slide intro-slide-4">
				<img class="bg-image" src="../img/backgrounds/night/1.jpg">
				<div class="slide-content">
					<div class="intro-text item-text-wrap">
						<p class="main-title">
							<button ui-sref="app.overview" class="big-action-button">Ready to Start?</button>
						</p>


						<!--
						The below code is repeated (very similar) (also found in overview-no-data.html)
						TODO: make it a directive -->
<!-- 						<div ng-if="hasCars">
							<p class="paragraph-1">
								Are you looking to add a new refuel?
							</p>
							<button ui-sref="app.refuelNew" class="big-action-button ion-plus" translate="ADD_NEW_REFUEL"></button>
							<p class="small-paragraph">or <a ui-sref="app.overview">Go to the overview screen.</a></p>
						</div>
						<div ng-if="!hasCars">
							<p class="paragraph-1">
								Let's add your first vehicle to Cargas:
							</p>
							<button ui-sref="app.carNew" class="big-action-button ion-plus" translate="ADD_NEW_CAR"></button>
						</div> -->
					</div>
				</div>
			</ion-slide>
		</ion-slide-box>
	  </nav-page>