<ion-view title="{{car._id ? 'Edit' : 'New'}} Car">
    <ion-content class="has-header">
        <form name="newCar">
            <div class="list">
                <label class="item item-input item-select">
                    <span class="input-label">Make</span>
                    <select ng-model="car.make" ng-options="car.make as car.make for car in makes" required>
                        <option value="">Select</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Model</span>
                    <select ng-model="car.model" ng-options="model as model for model in _.findWhere(makes, {make: car.make}).models" required>
                        <option value="">Select</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Year</span>
                    <select ng-model="car.year" ng-options="year for year in years()" required>
                        <option value="">Select</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Fuel</span>
                    <select ng-model="car.fuel" ng-options="key as value for (key, value) in fuels" required>
                        <option value="">Select</option>
                    </select>
                </label>
                <label class="item item-input">
                    <span class="input-label">Overall kilometers</span>
                    <input type="number" ng-model="car.kilometers" required>
                </label>
            </div>
            <div class="padding">
                <button ng-click="create(newCar)" class="button button-block button-positive activated"
                    ng-disabled="newCar.$invalid">{{car._id ? 'Save' : 'Create'}}</button>
                <a class="button button-clear button-positive" href="#/cars/new/make-model">
                    Suggest new make and model
                </a>
            </div>
        </form>
    </ion-content>
</ion-view>
