<form name="newCarForm">
    <div class="list">
        <label class="item item-input item-select">
            <span class="input-label" translate="MAKE"></span>
            <select ng-model="car.make" ng-options="car.make as car.make for car in makes" required>
                <option value="" translate="SELECT"></option>
            </select>
        </label>
        <label class="item item-input item-select">
            <span class="input-label" translate="MODEL"></span>
            <select ng-model="car.model" ng-options="model as model for model in _.findWhere(makes, {make: car.make}).models" required>
                <option value="" translate="SELECT"></option>
            </select>
        </label>
        <label class="item item-input item-select">
            <span class="input-label" translate="YEAR"></span>
            <select ng-model="car.year" ng-options="year for year in years" required>
                <option value="" translate="SELECT"></option>
            </select>
        </label>
        <!-- maybe this field could be not required -->
        <label class="item item-input item-select">
            <span class="input-label" translate="FUEL"></span>
            <select ng-model="car.fuel" ng-options="fuel as fuel.name for fuel in fuels" ng-change="addNewFuel()">
                <option value="" translate="SELECT"></option>
            </select>
        </label>
        <!-- the next field could be the plake but the user needs to identify its vehicles,
        i.e. if their has two or more cars of the same make, model and year -->
        <label class="item item-input">
            <span class="input-label" translate="DESCRIPTION"></span>
            <input type="text" ng-model="car.description">
        </label>
        <label class="item item-input" ng-show="displayTakePicture">
            <span class="input-label" translate="PICTURE"></span>
            <button ng-click="getPhoto()" class="button icon-left ion-camera button-small button-positive">Take Photo</button>
        </label>
        <label class="item item-input padding item-photo" ng-show="car.image">
            <img ng-src="{{car.image}}" alt="{{car.getName()}}">
        </label>
        <div class="item item-toggle">
            {{'DEFAULT_VEHICLE' | translate}}
            <label class="toggle toggle-possitive">
                <input type="checkbox" ng-model="car.byDefault">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>
        <button ng-click="createCar()" class="button button-block activated big-main-button"
            ng-disabled="newCarForm.$invalid">{{(car._id ? 'SAVE' : 'CREATE') | translate}}</button>
        <button class="button button-clear button-positive" ng-click="newMakeModelModal.show()"
            translate="SUGGEST_NEW_CAR"></button>
    </div>
</form>
