<ion-view title="New Car">
    <ion-content class="has-header">
        <div class="list">
            <label class="item item-input item-select">
                <span class="input-label">Make</span>
                <select ng-model="car.make" ng-options="car.make for car in makes">
                    <option value="">Select</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <span class="input-label">Model</span>
                <select ng-model="car.model" ng-options="model for model in car.make.models">
                    <option value="">Select</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <span class="input-label">Year</span>
                <select ng-model="car.year" ng-options="year for year in years()">
                    <option value="">Select</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Overall kilometers</span>
                <input type="number" ng-model="car.kilometers">
            </label>
        </div>
        <div class="padding">
            <button ng-click="create()" class="button button-block button-positive activated">Create</button>
        </div>
    </ion-content>
</ion-view>
