<ion-view title="Units">
    <ion-content class="has-header">
        <div class="padding">
			<div class="list">
				<div class="h4 title">Capacity</div>
				<label class="item item-radio" ng-repeat="capacity in capacityUnits" ng-click="setCapacityUnit(capacity)">
					<input type="radio" name="group" ng-checked="isSelectedCapacityUnit(capacity)">
					<div class="item-content">
					  {{capacity.name}}
					</div>
					<i class="radio-icon ion-checkmark"></i>
				</label>
			</div>
        </div>
    </ion-content>
</ion-view>
