<ion-view title="Spents">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
            <ion-item class="item">
                <h2>Total spent</h2>
                <p>{{totalSpent | currency}}</p>
            </ion-item>
            <ion-item class="item">
                <h2>Spent by year</h2>
                <p>{{spentByYear | currency}}</p>
            </ion-item>
            <ion-item class="item">
                <h2>Spent by month</h2>
                <p>{{spentByMonth | currency}}</p>
            </ion-item>
            <ion-item class="item">
                <h2>Spent by day</h2>
                <p>{{spentByDay | currency}}</p>
            </ion-item>
            <ion-item class="item">
                <h2>Spent by kilometer</h2>
                <p>{{totalSpent / totalKilometers | currency}}</p>
            </ion-item>
            <ion-item class="item">
                <h2>Kilometers by liter</h2>
                <p>{{totalKilometers / totalCapacity | number}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
