<ion-view title="{{refuel._id ? 'Edit' : 'New'}} Refuel">
    <ion-content class="has-header">
        <form name="newRefuelForm">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Date</span>
                    <input type="date" ng-model="refuel.date" required>
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Vehicle</span>
                    <select ng-model="refuel.car" ng-options="key as value for (key, value) in cars" required>
                        <option value="">Select</option>
                    </select>
                </label>
                <label class="item item-input">
                    <button class="button button-clear button-small button-positive no-padding-horizontal"
                        ng-click="addNewCar()">Add Vehicle</button>
                </label>

                <label class="item item-input">
                    <span class="input-label">Odometer</span>
                    <input type="number" ng-model="refuel.overallKilometers" required>
                </label>

                <label class="item item-input item-select">
                    <span class="input-label">Fuel</span>
                    <select ng-model="refuel.fuel" ng-options="fuel as fuel.name for fuel in fuels" ng-change="setElement('fuel')" required>
                        <option value="">Select</option>
                    </select>
                </label>
                <label class="item item-input">
                    <button class="button button-clear button-small button-positive no-padding-horizontal"
                        ng-click="addNewFuel()">Add Fuel</button>
                </label>

                <label class="item item-input">
                    <span class="input-label">Fuel Price</span>
                    <input type="number" ng-model="refuel.fuelPrice" ng-focus="setElement('fuelPrice')" required>
                </label>

                <label class="item item-input">
                    <span class="input-label">Capacity</span>
                    <input type="number" ng-model="refuel.capacity" ng-focus="setElement('capacity')" required>
                </label>

                <label class="item item-input">
                    <span id="amount-label" class="input-label">Amount</span>
                    <input type="text" ng-model="refuel.amount" ng-focus="setElement('amount')" required>
                </label>
            </div>
            <div class="padding">
                <button ng-click="create()" class="button button-block button-positive activated"
                    ng-disabled="newRefuelForm.$invalid">{{refuel._id ? 'Save' : 'Create'}}</button>
            </div>
        </form>
    </ion-content>
</ion-view>
