<ion-view title="{{refuel._id ? 'Edit' : 'New'}} Refuel">
    <ion-content class="has-header">
        <form name="newRefuelForm" novalidate>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label" translate="DATE"></span>
                    <input type="date" ng-model="refuel.date" required>
                </label>
                <label class="item item-input item-select">
                    <span class="input-label" translate="VEHICLE"></span>
                    <select ng-model="refuel.car" ng-options="car as car.getName() for car in cars" required ng-change="addNewCar();">
                        <option value="" translate="SELECT"></option>
                    </select>
                </label>

                <label class="item item-checkbox checkbox-custom">
                    <span class="input-label" translate="PARTIAL_REFUEL"></span>
                    <label class="checkbox checkbox-dark">
                        <input type="checkbox" ng-model="refuel.partial">
                    </label>
                </label>

                <label class="item item-input">
                    <span class="input-label" translate="ODOMETER"></span>
                    <input type="number" ng-model="refuel.overallKilometers" required>
                </label>

                <label class="item item-input item-select">
                    <span class="input-label" translate="FUEL"></span>
                    <select ng-model="refuel.fuel" ng-options="fuel as fuel.name for fuel in fuels" ng-change="addNewFuel();" required>
                        <option value="" translate="SELECT"></option>
                    </select>
                </label>

                <label class="item item-input">
                    <span class="input-label" translate="FUEL_PRICE"></span>
                    <input type="number" ng-model="refuel.fuelPrice" required>
                </label>

                <label class="item item-input">
                    <span class="input-label" translate="CAPACITY"></span>
                    <input type="number" ng-model="refuel.capacity" required>
                </label>

                <label class="item item-input">
                    <span id="amount-label" class="input-label" translate="AMOUNT"></span>
                    <input type="number" ng-model="refuel.amount" required>
                </label>

                <label class="item item-input" ng-show="refuel.distance && refuel.distance > 0">
                    <span id="amount-label" class="input-label" translate="DISTANCE"></span>
                    <input type="text" ng-value="refuel.distance | number | unit:'distance'" readonly>
                </label>

                <label class="item item-input" ng-show="refuel.consumption && refuel.consumption > 0">
                    <span id="amount-label" class="input-label" translate="CONSUMPTION"></span>
                    <input type="text" ng-value="refuel.consumption | number | consumption" readonly>
                </label>
                <button ng-click="create()" class="button button-block big-main-button activated"
                    ng-disabled="newRefuelForm.$invalid">{{(refuel._id ? 'SAVE' : 'CREATE') | translate}}</button>
                <button ng-click="delete(refuel)" class="button button-assertive button-block big-main-button activated"
                    ng-disabled="newRefuelForm.$invalid" ng-show="refuel._id" translate="DELETE"></button>
            </div>
        </form>
    </ion-content>
</ion-view>
