<ion-view title="New Refuel">
    <ion-content class="has-header">
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Name</span>
                <input type="text" ng-model="refuel.name" placeholder="Name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Year</span>
                <input type="text" ng-model="refuel.year" placeholder="Year">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Overall kilometers</span>
                <input type="text" ng-model="refuel.kilometers" placeholder="Overall kilometers">
            </label>
        </div>
        <div class="padding">
            <button ng-click="create()" class="button button-block button-positive activated">Create</button>
        </div>
    </ion-content>
</ion-view>
