<ion-view title="Refuels">
    <ion-content class="has-header">
        <ion-list
            show-delete="false"
            show-reorder="false"
            can-swipe="true">
            <div class="item">
                Viewing refuels for: <strong>{{car.make + ' ' + car.model}}</strong>
            </div>                
            <ion-item ng-repeat="refuel in car.refuels" href="#/refuels/{{refuel._id}}" class="item">
                <h2>{{refuel.date | date:'dd/MM/yyyy'}}</h2>
                <p>{{refuel.amount | currency}} - {{refuel.capacity | capacity}}  {{refuel.fuel.name}}</p>
                <ion-option-button class="button-assertive" ng-click="delete(refuel)">Delete</ion-option-button>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
