<ion-view title="Refuels">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a href="#/refuels/new" class="button button-icon icon ion-plus"></a>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list
            show-delete="false"
            show-reorder="false"
            can-swipe="true">

            <ion-item ng-repeat="refuel in refuels" class="item">
                <h2>{{refuel.name}}</h2>
                <p>{{refuel.year}}</p>
                <ion-option-button class="button-assertive" ng-click="delete(refuel)">Delete</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
