<form ng-submit="update()" method="post">
    <div class="input-group">
        <div class="input-row">
            <label>Nombre</label>
            <input type="text" name="first-name" placeholder="Nicolas" ng-model="user.firstName">
        </div>
        <div class="input-row">
            <label>Apellido</label>
            <input type="text" name="last-name" placeholder="Montesdeoca" ng-model="user.lastName">
        </div>
        <div class="input-row">
            <label>Email</label>
            <input type="email" name="email" placeholder="nico@cargas.com" ng-model="user.email">
        </div>
        <div class="input-row">
            <label>Ver Foto</label>
            <input type="checkbox" class="checkbox" name="show-image" ng-model="user.showImage">
        </div>
        <div class="input-row">
            <label>Foto</label>
            <input type="button" class="button button-negative remove-image" value="change" ng-click="user.image = null" ng-show="user.image">
            <span class="circular-image" style="background-image: url({{ user.image }})" ng-show="user.image"></span>
            <input type="file" upload-image class="input-file" name="image" ng-show="!user.image">
            <input type="hidden" value="{{ user.image }}" ng-model="user.image">
        </div>
    </div>
    <button type="submit" class="button-block">Actualizar</button>
</form>