<ion-view title="Stats">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
            <label class="item item-input item-select">
                <div class="input-label">Vehicle</div>
                <select ng-model="filter.car" ng-options="key as value for (key, value) in cars">
                    <option value="">All</option>
                </select>
            </label>
            <ion-item class="item">
                <h2>Total spent</h2>
                <p>{{totalSpent | currency}}</p>
            </ion-item>
            <ion-item class="item">
                <h2>Total capacity</h2>
                <p>{{totalCapacity | number | capacity}}</p>
            </ion-item>
            <ion-item class="item">
                <h2>Spent by year</h2>
                <p>{{spentByYear | currency}}</p>
            </ion-item>
            <ion-item class="item">
                <h2>Spent by month</h2>
                <p>{{spentByMonth | currency}}</p>
            </ion-item>
            <ion-item class="item">
                <h2>Spent by day</h2>
                <p>{{spentByDay | currency}}</p>
            </ion-item>
            <ion-item class="item">
                <h2>Spent by kilometer</h2>
                <p>{{spentByKilometer | currency}}</p>
            </ion-item>
            <ion-item class="item">
                <h2>Kilometers by liter</h2>
                <p>{{kilometersByLiter | number}}</p>
            </ion-item>
            <ion-item class="item">
                <h2>Average time between refuels</h2>
                <p>{{averageTimeBetweenRefuels | number | days}}</p>
            </ion-item>
            <ion-item class="item">
                <h2>Average distance between refuels</h2>
                <p>{{averageDistanceBetweenRefuels | distance}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
