<ion-view title="{{'PROFILE' | translate}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <!-- REGISTER / UPDATE -->
        <form name="profileRegisterForm" novalidate>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label" translate="FIRST_NAME"></span>
                    <input type="text" ng-model="profile.firstname" required>
                </label>
                <label class="item item-input">
                    <span class="input-label" translate="LAST_NAME"></span>
                    <input type="text" ng-model="profile.lastname" required>
                </label>
                <label class="item item-input">
                    <span class="input-label" translate="EMAIL"></span>
                    <input type="email" ng-model="profile.email" required>
                </label>
                <label ng-if="!loggedIn" class="item item-input">
                    <span class="input-label" translate="PASSWORD"></span>
                    <input type="password" ng-model="profile.password" required>
                </label>
                <div class="button-wrapper">
                    <button ng-click="save()" class="button button-block activated big-main-button"
                        ng-disabled="profileRegisterForm.$invalid">{{(loggedIn ? 'UPDATE' : 'REGISTER') | translate}}</button>
                    <button ng-if="loggedIn" ng-click="logout()" class="button button-block big-main-button delete" translate="LOGOUT"></button>
                </div>
            </div>
        </form>
        <!-- END REGISTER / UPDATE -->

        <!-- LOGIN -->
        <form name="profileLoginForm" ng-if="!loggedIn" novalidate>
            <div class="list no-padding-bottom">
                <label class="item item-input">
                    <span class="input-label" translate="EMAIL"></span>
                    <input type="email" ng-model="profile.loginEmail" required>
                </label>
                <label class="item item-input">
                    <span class="input-label" translate="PASSWORD"></span>
                    <input type="password" ng-model="profile.loginPassword" required>
                </label>
                <div class="button-wrapper">
                    <button ng-click="login()" class="button button-block activated big-main-button"
                        ng-disabled="profileLoginForm.$invalid" translate="LOGIN"></button>
                </div>
            </div>
        </form>
        <!-- END LOGIN -->
    </ion-content>
</ion-view>
