<ion-view title="Profile">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <form name="profileForm">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">First Name</span>
                    <input type="text" ng-model="profile.firstname" placeholder="First Name" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Last Name</span>
                    <input type="text" ng-model="profile.lastname" placeholder="Last Name" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="email" ng-model="profile.email" placeholder="Email" required>
                </label>
            </div>
            <div class="padding">
                <button ng-click="save()" class="button button-block button-positive activated"
                    ng-disabled="profileForm.$invalid">Save</button>
            </div>
        </form>
    </ion-content>
</ion-view>
