<p ng-show="!fuels.length">
    <span>A&uacute;n no hay combustibles, </span>
    <a href="#/account/fuels">ingresa uno aqu&iacute;</a>
</p>
<form class="form" name="form" novalidate ng-show="fuels.length">
    <div class="{{ sent && form.fuel.$error.required ? ' error' : ''}}">
        <select name="fuel" ng-model="refuel.fuel" ng-options="fuel._id as fuel.name for fuel in fuels" required>
            <option value="">-- Seleccionar Combustible --</option>
        </select>
    </div>
    <div class="input-group">
        <div class="input-row{{ sent && form.cost.$error.required ? ' error' : ''}}">
            <label>Costo $</label>
            <input type="number" name="cost" placeholder="1620" ng-model="refuel.cost" required>
        </div>
        <div class="input-row{{ sent && form.capacity.$error.required ? ' error' : ''}}">
            <label>Litros</label>
            <input type="number" name="capacity" placeholder="45" ng-model="refuel.capacity" required>
        </div>
        <div class="input-row{{ sent && form.kilometers.$error.required ? ' error' : ''}}">
            <label>Kilometraje</label>
            <input type="number" name="kilometers" placeholder="560" ng-model="refuel.kilometers" required>
        </div>
        <!--
        <div class="input-row">
            <label>Fecha</label>
            <input type="date" name="date" placeholder="560" ng-model="refuel.createdAt" required>
        </div>
        -->
    </div>
    <button class="button button-block" ng-click="update()">Guardar</button>
    <button class="button button-block button-negative" ng-show="refuel._id" ng-click="delete(refuel._id)">Eliminar</button>
</form>
<!--
<p class="count-negative" ng-show="form.fuel.$error.required">Combustible valido requerido</p>
<p class="count-negative" ng-show="form.cost.$error.required">Costo valido requerido</p>
<p class="count-negative" ng-show="form.capacity.$error.required">Litros valido requerido</p>
<p class="count-negative" ng-show="form.kilometers.$error.required">Kilometraje valido requerido</p>
-->
