<ul class="list">
    <li ng-repeat="refuel in refuels" ng-swipe-left="showActions = true" ng-swipe-right="showActions = false">
        <a href="#/refuel/{{ refuel._id }}" class="cleared">
            <div class="pull-left">
                <strong class="cost">{{ refuel.cost | currency }}</strong>
            </div>
            <div class="pull-right">
                <p class="description">{{ refuel.kilometers }} kil&oacute;metros</p>
                <p class="description">{{ refuel.capacity }} litros</p>
            </div>
        </a>
    </li>
</ul>
<p class="content-padded" ng-show="!fuels.length">
    <a href="#/account/fuels">Ingresa un combustible</a> para comenzar a ingresar tus recargas
</p>
<p class="content-padded" ng-show="!refuels.length && fuels.length">
    Que suertudo!, a&uacute;n no has recargado. Ingresa una <a href="#/refuel">recarga aqu&iacute;</a>
</p>
