<form name="newFuel" novalidate>
    <div class="list">
        <label class="item item-input">
            <span class="input-label" translate="NAME"></span>
            <input type="text" ng-model="fuel.name" required>
        </label>
        <label class="item item-input">
            <span class="input-label" translate="PRICE"></span>
            <input type="number" ng-model="fuel.price" required>
        </label>
        <div class="button-wrapper">
            <button ng-click="createFuel()" class="button button-block activated big-main-button"
                ng-disabled="newFuel.$invalid">{{(fuel._id ? 'SAVE' : 'CREATE') | translate}}</button>
            <button ng-click="deleteFuel(fuel)" class="button button-block big-main-button delete"
                ng-disabled="newFuel.$invalid" ng-show="fuel._id" translate="DELETE"></button>
        </div>
    </div>
</form>
