<ion-view title="{{'FUELS' | translate}}">
    <ion-nav-buttons side="right">
        <a ui-sref="app.fuelNew" class="button button-icon icon ion-plus"></a>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list
            show-delete="false"
            show-reorder="false"
            can-swipe="true">

            <ion-item ng-repeat="fuel in fuels" ui-sref="app.fuelEdit({id: fuel._id})" class="item" fix-transparent-ion-item>
                <h2>{{fuel.name}}</h2>
                <p>{{fuel.price | currency}}</p>
                <ion-option-button class="button-assertive" ng-click="delete(fuel)"
                    translate="DELETE"></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
