<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-calm">
          <h1 class="title">New Fuel</h1>
          <button class="button button-clear" ng-click="modal.hide()">&times;</button>
    </ion-header-bar>
    <ion-content class="has-header">
        <form name="newFuel">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="fuel.name" placeholder="Name" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Price</span>
                    <input type="number" ng-model="fuel.price" placeholder="Price" required>
                </label>
            </div>
            <div class="padding">
                <button ng-click="createFuel()" class="button button-block button-positive activated"
                    ng-disabled="newFuel.$invalid">Create</button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
