<p class="count-negative" ng-show="error">{{ error }}</p>

<form ng-submit="add()" name="form" novalidate>
    <div class="input-group">
        <div class="input-row">
            <label>Nombre</label>
            <input type="text" name="name" placeholder="Super 95 SP" ng-model="fuel.name" required>
        </div>
        <div class="input-row">
            <label>Costo</label>
            <input type="number" name="cost" placeholder="35.50" ng-model="fuel.cost" required>
        </div>
    </div>
    <button type="submit" class="button-block" ng-disabled="!form.$valid">Agregar</button>
</form>

<!-- p class="count-negative error-message" ng-show="form.name.$error.required">Nombre valido requerido</p>
<p class="count-negative error-message" ng-show="form.cost.$error.required">Costo valido requerido</p -->

<ul class="list inset no-side-margin">
    <li class="list-divider sub-title">Combustibles</li>
    <li ng-show="!fuels.length">A&uacute;n no hay combustibles</li>
    <li ng-repeat="fuel in fuels">
        <span>{{ fuel.name }} ({{ fuel.cost | currency }})</span>
        <button class="button-negative" ng-click="delete(fuel._id)">
            <i class="fa fa-trash-o"></i>
        </button>
    </li>
</ul>
