/* Empty. Add your own CSS if you like */
.no-padding {
    padding: 0;
}

.no-padding-horizontal {
    padding-left: 0;
    padding-right: 0;
}

.no-padding-vertical {
    padding-bottom: 0;
    padding-top: 0;
}

.no-border {
    border: none;
}

.platform-android ion-side-menu .bar-header {
    display: none;
}

.platform-android ion-side-menu .has-header {
    top: 0;
}

.item-select select {
    direction: ltr;
    left: 35%;
    padding-left: 10px;
}

.item-photo {
    display: block;
}

.item-photo img {
    max-width: 100%;
}

.item.item-dark,
.item-complex.item-dark > .item-content {
    border-color: #666;
}


/* background */
.pane {
    background: url(/img/backgrounds/night1.jpg);
    background-position: center center;
    background-size: auto 100%;
    /*font-family: 'Ubuntu Condensed', sans-serif;*/
}
.bar.bar-header {
    background: none;
    border: none;
}
.button.big-main-button {
    background: #000;
}
