/* Empty. Add your own CSS if you like */
.no-padding {
    padding: 0;
}

.no-padding-horizontal {
    padding-left: 0;
    padding-right: 0;
}

.no-padding-vertical {
    padding-bottom: 0;
    padding-top: 0;
}

.no-border {
    border: none;
}

.platform-android ion-side-menu .bar-header {
    display: none;
}

.platform-android ion-side-menu .has-header {
    top: 0;
}

.item-select select {
    direction: ltr;
    left: 35%;
    padding-left: 10px;
}

.item-photo img {
    width: 100%;
}
