.no-padding {
    padding: 0;
}

.no-padding-horizontal {
    padding-left: 0;
    padding-right: 0;
}

.no-padding-vertical {
    padding-bottom: 0;
    padding-top: 0;
}

.no-border {
    border: none;
}

.input-label {
    width: 48%;
}

.item-select select {
    background: transparent;
    direction: ltr;
    left: 48%;
    padding-left: 10px;
}

.item-photo {
    display: block;
}

.item-photo img {
    max-width: 100%;
}

.item.item-dark,
.item-complex.item-dark > .item-content {
    border-color: #666;
}


/* background */
* {
    font-family: 'Montserrat', sans-serif!important;
}
.pane {
    background: transparent;
    background-position: center center;
    background-size: auto 100%;
    /*transition: background 1s ease;*/
}
.random-background {
    background-image: url(../img/backgrounds/night1.jpg);
}
.menu-content .bar.bar-header {
    background: none;
    border: none;

}
.menu-content .bar.bar-header * {
    text-shadow: 1px 1px 0px rgba(0,0,0,0.6);
}

.button.big-main-button {
    background: #333;
    border: 2px solid #000;
    color: #fff;
}
.button.disabled, .button[disabled] {
    opacity: 0.7;
}
.menu-content .list {
    padding: 10px;
}
.item {
    background: rgba(255,255,255,0.9);
}
.item-divider {
    background: rgba(245,245,245,0.7);
}
.item .item-content {
    background: none;
}
.overview-totals {
    margin-top: 10px;
}
.overview-totals .col strong {
    color: #fff;
    font-size: 30px;
    letter-spacing: 1.1;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.7);
}
.info-box.card:first-child {
    margin-top: 0;
}
.info-box .stat-number {
    font-size: 22px;
}

ion-nav-view,
.item-select select,
.item-input input[readonly] {
    background: transparent;
}
.item-divider {
    text-transform: capitalize;
}

.button.button-dark.button-clear {
    text-shadow: 1px 1px 0 white;
}
